body {
  font-family: sans-serif;
  padding: 20px;
}

input {
  padding: 10px;
  font-size: 20px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
}

#adminBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: #333;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
}
